.colaborador {
    width: 280px;
    position: relative;
    box-shadow: 8px 8px 16px #e0e0e0ad, -8px -8px 16px #ffffff8e, inset 4px 4px 6px rgba(255, 255, 255, 0.5), inset -4px -4px 6px rgba(0, 0, 0, 0.1);
    
}

.colaborador .cabecalho {
    
    border-radius: 5px 5px 0px 0px;
    z-index: 1;
box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.5), inset -4px -4px 6px rgba(0, 0, 0, 0.1);


}

.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
    z-index: 10;
}

.colaborador .rodape {



    background-color: rgba(242, 242, 242, 0.4);



    border-radius: 0px 0px 5px 5px;
    padding-top: 90px;
    padding-bottom: 40px;
    backdrop-filter: blur(2px);
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.deletar {
    position: absolute;
    right: 2px;
    top: 2px;
    transition: all 0.2s linear;
    color: rgba(0, 0, 0, 0.1);
}

.deletar:hover {

    transform: scale(1.3);
    color: black
}

.favoritar{
    margin-top: 20px;
}