
.container__calculadora{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(5,1fr);
 
    grid-template-areas: "n1 n2 n3"
                         "n4 n5 n6"
                         "n7 n8 n9"
                         "n0 np nc"
                          ". ne ne";
     
    box-shadow: #644651ab 1px 1px 10px 5px , #644651a5 1px 2px 4px 1px inset;
     width:50%;
    
    
    justify-items: center;
    align-items: center;
    padding: 3px;
    padding-top: 6px;
    
 }
 /* .container__botao{
     
     width: 100px;
 } */



 .calculadora__botao{
    
    background-color: transparent;
    align-items: center;
    box-shadow: #644651ab 1px 1px 5px 3px , #644651a5 1px 2px 2px 1px inset;
    margin: 2px;
    border: 0px solid transparent;
    font-size: 1em;
    font-weight: 600;
    
   
    
 }

 .calculadora__botao:hover{
    background: #64465113;
    color: bisque;

}

.calculadora__botao:active{
    background: #64465178;
    color: bisque;
    text-shadow: #c3ff00 2px 2px 4px;
    box-shadow: #644651ab 1px 1px 10px 5px inset ,
     #644651a5 1px 2px 4px 1px;
}


 .container__calculadora button{
    display: flex;
    justify-content: center;
    text-align: center;
 }

 .container__calculadora .be{
   
    padding: 0 55px;
    
 }

 .container__calculadora .b1{
     grid-area: n1;
   
 }
  .container__calculadora .b2{
     grid-area: n2;
 }
 .container__calculadora .b3{
     grid-area:n3 ;
 }
 .container__calculadora .b4{
     grid-area:n4 ;
 }
 .container__calculadora .b5{
     grid-area: n5 ;
 }
 .container__calculadora .b6{
     grid-area:n6 ;
 }
 .container__calculadora .b7{
     grid-area:n7 ;
 }
 .container__calculadora .b8{
     grid-area:n8 ;
 }
 .container__calculadora .b9{
     grid-area:n9 ;
 }
 .container__calculadora .b0{
     grid-area:n0 ;
 }
 .container__calculadora .bp{
     grid-area:np ;
 }
 .container__calculadora .be{
     grid-area:ne ;
 }
 .container__calculadora .bc){
     grid-area:nc ;
 } 
 
 
 .calculadora__botao{
     width: 2em;
     height:2em;
 
 }
 